table(panel-table)
  thead
    tr
      th.checkbox-col
        list-check-all
      th.relative(ng-if="table.showDate") Date
        sort(col="date")
      th.relative(ng-if="table.showIp") IP
        sort(col="addr")
      th.relative(ng-if="table.showServer") Server
        sort(col="server")
      th.relative(ng-if="table.showUpdated") Latest Activity
        sort(col="updated")
      th.relative(ng-if="table.showFrom") Abuse Authority
        sort(col="from")
      th(ng-if="table.showActions") Actions

  tr(
    ng-repeat="row in table.list.list.items track by row.id"
    list-row-checkable="row"
  )
    td.checkbox-col
      list-check-item(checked="table.list.list.checkedIds[row.id]")
    td(ng-if="table.showDate")
      span(date="row.date")
    td(ng-if="table.showIp")
      span(ng-bind="row.addr")
    td(ng-if="table.showServer")
      a(
        ng-if="row.server"
        ui-sref="app.hardware.server.view.manage({ id: row.server.id })"
        ng-bind="row.server.name"
      )
      span(ng-if="!row.server") -
    td(ng-if="table.showUpdated")
      strong(ng-bind="row.excerpt.from")
      div.excerpt(ng-bind="row.excerpt.body")
    td(ng-if="table.showFrom")
      span(ng-bind="row.sender")
    td(ng-if="table.showActions")
      .btn-report.btn-report-xs
        a.btn.btn-default(
          translate="app.action.VIEW"
          ui-sref="app.pkg.abuse.report.view({ id: row.id })"
        )
