table(panel-table)
  thead
    tr
      th.relative Date
        sort(col="date")
      th.relative IP
        sort(col="addr")
      th.relative Server
        sort(col="server")
      th.relative Latest Activity
        sort(col="updated")
      th.relative From
        sort(col="from")
      th Actions

  tr(
    ng-repeat="row in table.list.list.items track by row.id"
    list-row-checkable="row"
  )
    td(date="row.date")
    td(ng-bind="row.addr")
    td
      a(
        ng-if="row.server"
        ui-sref="app.hardware.server.view.manage({ id: row.server.id })"
        ng-bind="row.server.name"
      )
      span(ng-if="!row.server") -
    td
      strong(ng-bind="row.excerpt.from")
      div.excerpt(ng-bind="row.excerpt.body")
    td
      div.excerpt(ng-bind="row.excerpt.sender")
    td
      .btn-report.btn-report-xs
        a.btn.btn-default(
          ui-sref="app.pkg.abuse.report.view({id: row.id})"
          translate="app.action.VIEW"
        )
