list.panel.panel-default(
  ng-show="list.items.length"
  list="list"
)
  list-header(text="Server Abuse")
    a.btn.btn-default(ng-click="list.refresh.now()")
      i.fa.fa-refresh
  pkg-abuse-report-table.border-top-table(
    show-ip="false"
    show-server="false"
    show-client="false"
  )
  list-footer
