include /node_modules/scp-ng-gulp/resources/pug/mixins/form

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title(data-translate="pkg.abuse.client.report.modal.assign.TITLE")

  .modal-body.form-horizontal
    +label("{{ 'pkg.abuse.client.report.modal.assign.client.LABEL' | translate }}")
      +input-with-btn("fa fa-times-circle")(
        ng-click="modal.client.selected = null;modal.client.fireChangeEvent()"
      )
        ui-select(ng-model="modal.client.selected", ng-change="modal.client.fireChangeEvent()")
          ui-select-match(placeholder="{{ 'pkg.abuse.client.report.modal.assign.client.PLACEHOLDER' | translate }}")
            | {{ $select.selected.name }}

          ui-select-choices(
            repeat="client in modal.client.items track by client.id"
            refresh="modal.client.load($select.search)"
            refresh-delay="400"
          )
            span(ng-bind-html="client.name | highlight: $select.search")
            small <{{client.email}}>

    +label("{{ 'pkg.abuse.client.report.modal.assign.server.LABEL' | translate }}")
      +input-with-btn("fa fa-times-circle")(
        ng-click="modal.server.selected = null;modal.server.fireChangeEvent()"
      )
        ui-select(ng-model="modal.server.selected", ng-change="modal.server.fireChangeEvent()")
          ui-select-match(placeholder="{{ 'pkg.abuse.client.report.modal.assign.server.PLACEHOLDER' | translate }}")
            | {{ $select.selected.srv_id }}

          ui-select-choices(
            repeat="server in modal.server.items track by server.id"
            refresh="modal.server.load($select.search)"
            refresh-delay="400"
          )
            span(ng-bind-html="server.srv_id | highlight: $select.search")
            small <{{server.nickname}}>

  .modal-footer
    button.btn.btn-secondary(
      type="button"
      ng-click="modal.$dismiss()"
      data-translate="pkg.abuse.client.report.modal.assign.CANCEL"
    )
    button.btn.btn-primary(
      type="submit"
      data-translate="pkg.abuse.client.report.modal.assign.SUBMIT"
    )
