.panel.panel-default
  .panel-heading
    h3.panel-title(translate="pkg.abuse.client.report.view.comments.TITLE")
  .panel-body
    .comments
      .comment.panel.panel-default(
        ng-repeat="comment in comments.list.items track by comment.id"
      )
        .panel-heading
          span.pull-right.text-muted(date="comment.date")
          strong(ng-bind="comment.author.name")
        .panel-body(ng-bind="comment.body")
    .text-center(
      ng-if="!comments.list.items.length"
      data-translate="pkg.abuse.client.report.view.comments.EMPTY"
    )

  .panel-footer(ng-if="comments.list.pages.max > 1")
    pagination(
      pages="comments.list.pages"
    )

form(ng-submit="comments.submit()")
  .panel.panel-default
    .panel-heading
      h3.panel-title(translate="pkg.abuse.client.report.view.comments.post.TITLE")
    .panel-body
      textarea.form-control(ng-model="comments.body")
    .panel-footer.clearfix
      .pull-right
        button.btn.btn-info(
          type="submit"
          data-translate="pkg.abuse.client.report.view.comments.post.SUBMIT"
        )
