include /resources/jade/mixins/panel

h1(
  translate='pkg.abuse.client.report.view.title.PAGE'
  translate-value-date='{{vm.report.date}}'
)

.row
  .col-md-4
    +panel("{{ 'pkg.abuse.client.report.view.overview.TITLE' | translate }}")
      table.table
        thead
          tr
            th.border-only(colspan="2")
        tbody
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.DATE")
            td(ng-bind="vm.report.date")
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.ADDR") 
            td(ng-bind="vm.report.addr")
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.status.TITLE")
            td(
              data-translate="pkg.abuse.client.report.view.overview.status.RESOLVED"
              data-translate-value-resolved="{{ vm.report.date_resolved | date }}"
            )

    pkg-abuse-report-comments(
      report-id="vm.report.id"
      on-added="vm.logs.refresh()"
    )
  .col-md-8
    +panel("{{ 'pkg.abuse.client.report.view.body.TITLE' | translate }}")
      .scroller 
        pre.fill-panel(ng-bind="vm.report.body")

    logs(
      title="Abuse Report Logs"
      filter="vm.logs.filter"
      listen-to="vm.event"
    )
