h1(
  translate='pkg.abuse.client.report.view.title.PAGE'
  translate-value-date='{{ vm.report.date | apiDate }}'
)

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        h3.panel-title(translate="pkg.abuse.client.report.view.overview.TITLE")
      table.table
        thead
          tr
            th.border-only(colspan="2")
        tbody
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.DATE")
            td(date="vm.report.date")
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.ADDR")
            td(ng-bind="vm.report.addr")
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.status.TITLE")
            td(
              data-translate="pkg.abuse.client.report.view.overview.status.RESOLVED"
              data-translate-value-resolved="{{ vm.report.date_resolved | apiDate }}"
            )
          tr
            th(data-translate="pkg.abuse.client.report.view.overview.SERVER")
            td
              a(
                ng-if="vm.report.server"
                ui-sref="app.hardware.server.view.manage({ id: vm.report.server.id })"
                ng-bind="vm.report.server.name"
              )

    pkg-abuse-report-comments(
      report-id="vm.report.id"
    )
  .col-md-8
    .panel.panel-default
      .panel-heading
        h3.panel-title(translate="pkg.abuse.client.report.view.body.TITLE")
      .scroller
        pre.fill-panel(ng-bind="vm.report.body")
